.L1n7ELG66j3FuJ82QugE {
  width: 328px;
  margin: 0 auto;
  border: 1px solid #f0f2f5;
  padding: 1rem;
}
.dnx52b6joK3pnb_6BUO0 .ant-tabs-nav::before {
  display: none;
}
.oJ0w23R7z6NYHMz8unRw {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  text-align: center;
}
body {
  background: #f0f2f5;
}
.YtmJSxzOdqCmUgKf1IR3 {
  background-image: url(ebcb916068d431662f5b.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
}

